
body{
    background-color: rgb(147, 183, 183);
}
#weather_display{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin:5vw;
    padding: 3vw;
}
.city_info{
    margin-top: 1vw;
    display: flex;
    justify-content:space-between;
}
#table{
    padding: 1vw;
    /* border: 2px solid red; */
    padding:1vw ;
    width: 50%;
}
#card_i{
    width: 50%;
    /* border: 2px solid red; */
    padding: 3vw;
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: 90% 20%;
}
