
body{
    background-color: rgb(147, 183, 183);
}
#weather_display{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin:5vw;
    padding: 3vw;
}
.city_info{
    margin: 2px;
    padding: 1vw;
}
#card_i{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 0%;
}
