{% extends 'home.html' %}
{%block cityInfo%}

{%if error==1%}
<div class="city_info ">
    <div class="card p-4">
        <i>code:{{data['error']['message']}}</i>
        <i><h2>{{data['error']['message']}}</h2></i>
      </div>
</div>
{%else%}
<div class="city_info ">
    <div class="card p-4" id="card_i">
        <h2>{{data['location']['name'] }}, {{data['location']['region']}}</h2>
        <i>{{data['location']['country']}}</i>
        <h1 id="temp">{{data['current']['temp_c']}}&deg;c</h1>
        <i><h3>condition:{{data['current']['condition']["text"]}} <img src="{{data['current']['condition']['icon']}}" alt="img not found"></h3></i>
        <button id="change" class="btn btn-primary" onclick={change()}>Convert to Fahrenheit</button>
    </div>
    
</div>
{%endif%}
{% endblock %}
{%block script%}
<script>
    document.getElementById("card_i").style.backgroundImage = "url ('{{data['current']['condition']['icon']}}')"
    var v=0
    function change(){
        if(v==0){
            document.getElementById('temp').innerHTML="{{data['current']['temp_f']}}&deg;f";
            document.getElementById('change').innerText="Convert to  Celsius";
            v=1
        }
        else{
            document.getElementById('temp').innerHTML="{{data['current']['temp_c']}}&deg;c";
            document.getElementById('change').innerText="Convert to  Fahrenheit";
            v=0
        }
    }
</script>
{% endblock %}